body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  .app {
    width: 100%;
    min-width: 750px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    margin-left : 30px;
    color: #006CFF;
    font-family: Lemon;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .search_bar {
    display: flex;
    align-items: center;
    border: 1px solid #006CFF;
    border-radius: 5px;
    width: 30%;
    height: 50px; 
  }
  
  .search_bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .search_bar button {
    border: 1px solid #006CFF;
    background: #90BFFF;
    border: none;
    color: white;
    cursor: pointer;
    width: 65px;
    height: 50px;
    border-radius: 5px;
  }
  
  .dropdown, .login {
    display: flex;
    align-items: center;
    padding: 0 10px;
    
  }
  
  .dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
  }
  
  .dropdownContent {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 5px;
  }
  
  .loginbtn {
    width: 130px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    background: #FFF;
    color: #5E5E5E;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }
  
  .content {
    padding: 30px;
  }

  .contentwrapper {
    padding : 0 0 15px;
    border-bottom: 1px solid #CCC;
  }
  
  .keyword_header {
    margin-bottom: -60px;
    display: flex;
    align-items: center;
  }

  .keyword_setting {
    margin-left: 50px;
  }

  .settingbtn {
    width: 200px;
    height: 50px;
    border-radius: 100px;
    background: #549CFF;
    border: none;
    color: #FFF;

    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .keywordbox {
    background-color: #d7e9ff;
    width: 230px;
    height: 30px;
    margin-bottom: 34px;

  }
  
  .keyword_header h2 {
    color: #010101;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .content p {
    margin-top: -20px;
    color: #5E5E5E;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .checkboxContainer {
    display: flex;
    gap: 10px;
  }

  .checkboxLabel {
    display: flex;
    align-items: center;
    color: #5E5E5E;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

